@import "../_snowpack/pkg/tailwindcss/dist/base.css";
@import "../_snowpack/pkg/tailwindcss/dist/components.css";
@import "../_snowpack/pkg/tailwindcss/dist/utilities.css";

html {
  font-size: 62.5%;
}
.imagen {
  background-color: #cecece;
  border-radius: 1rem;
}

.btn {
  font-size: 1.2rem;
  margin: 0.4rem;
}